.btn-secondary{
	color: #fff !important;}
img{
	width: 100%;
}
.logo{
	width:80px;
}
.navbar{
	opacity:0.9;
	text-transform: uppercase;
}
.social a{
	margin-right:0.4rem;
}
{% load staticfiles %}
.cover {
	background: url('/static/img/home-cover.jpg');
}
.image { background: #490D40; background: url("../img/sample.jpg") no-repeat center center;