{% load static %}
<!doctype html>
<html lang="en">
<head>  <title>Django session</title>

    <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Custom -->
  <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
  
</head>
<body>
          
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'img/logo.jpg' %}" class="logo" alt="No image found">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link "  href="{%url 'myhome'%}">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{%url 'clientsListing'%}"a>Clients</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{%url 'mycontact'%}"a>Contact us</a>
        </li>
        
        
        
      <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li
              {% if 'dashboard' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
            >
              <a class=nav-link href="{% url 'myhome' %}">
              Welcome {{user.username}}  Dashboard
            </a>
            </li>
            <li class="nav-item mr-3">
                <a href="javascript:{document.getElementById('logout').submit()}"class="nav-link">
                  <i class="fas fa-sign-out-alt"></i>logout
                </a>    
                <form action="{% url 'logoutURL'%}" method="POST" id="logout">
                  {% csrf_token %}
                  <input type="hidden">
                </form>
            </li>
          {% else %}
              <li 
                {% if 'register' in request.path %}
                  class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
                {% endif %}
              >
                <a class="nav-link" href="{% url 'myregister' %}">
                  <i class="fas fa-user-plus"></i> Register</a>
              </li>
              <li 
                {% if 'mylogin1' in request.path %}
                  class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
                {% endif %}
              >
                <a class="nav-link" href="{% url 'mylogin1' %}">
                  <i class="fas fa-sign-in-alt"></i> Login</a>
              </li>
          {% endif %}
        </ul>

        
        
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>

  </div>
</nav>

{% block content %}  {% endblock %}

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <footer>
    <center>
      <h5 style="font-size:1000% ",style="background-color:powderblue";>  <h3 style="background-color:powderblue;"><p align="center",style="font-size:30px">    Author: Nikita Nalawade </h5> </div> </h3> </p>
    
       <p><center><a href="mailto:nikitanalawadeo99@gmail.com">nikitanalawade099@gmail.com</a></center></p>
</center>
</footer>
</body>
</html>