{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form action="action_page.php", style="border">
    <center>
    <h1><b><p> Contact Info</p></h1></b>
</center>
    <center>
        <h6 style="border">
    <li>
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">
    </li>
    <li>
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    </li>
    <li>
    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    <li>
    </select>
    <li>
    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    </li>
    <li>
    <input type="submit" value="Submit">
    </li>
</center>
</h6>
  </form>
</div>
{% endblock %}